h1{
    font-family:Arial, Helvetica, sans-serif;
    color: #f3f3f3;
} 
.containerH1 {
    background-color: #384960;
    display: flex;
    justify-content:space-around;
    padding: 10px;
}
button {
    font-size: 30px;
    height: 40px;
    width: 80px;
    border-radius: 10px;
    margin-top: 20px;
    color:#f3f3f3;
    background-color: #3d7caf;
} 
button:hover {
    background-color: rgba(175, 240, 106, 0.609);
    transition: 0.2s;
} 
.containerLibrary {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.moduleBook{
    font-family: Arial, Helvetica, sans-serif;
    height: 500px;
    width: 400px;
    border-radius: 20px;
    padding: 20px;
    background-color:#3d7caf;
    color:#f3f3f3;
    font-size: bold;
    /* display: flex; */
    margin-top: 100px;
    position: absolute;
    z-index: 1;
}
h2 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 35px;
}
input {
    width: 390px;
    height:30px;
} 
select {
    width: 400px;
    height: 38px; 
}
.submit-wrapper{
    display: flex;
    justify-content:space-around;
}
#conf{
     background-color:white;
     font-size: large;
     font-family: Arial, Helvetica, sans-serif;
     color: #3d7caf;
     border-radius: 7px;
     width: 150px;
     font-weight: bold;
}
#canc{
    background-color: white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: #3d7caf;
    border-radius: 7px;
    width: 150px;
    height: 30px;
    font-weight: bold;
}
.contentBook {
    width: 200px;
    background-color:  #3d7caf;
    color: #f3f3f3;
    height: 260px;
    width: 260px;
    border-radius: 20px;
    margin-top: 100px;
    font-size: 20px; 
    box-shadow: -8px -8px 10px #8a8a8a; 
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 10px;
    padding: 2px;
}
.divImages { 
    display: flex;
    justify-content:space-between;
    height: 25px;
    width: 260px;
}
img{
    width: auto;
    height: 25px;
    padding: 10px
} 